<div class="container">
	<div class="row">
		<div class="span16">
			<div class="colAbout">
				<h2>About Twitter Videos!</h2>
				<br/>
				<br/>
				<p>Twitter Videos is a website that pulls the top 10 most awesome and coolest Youtube videos from Twitter.<br/><br/>
				It's meant for the user to have fun with Twitter's and Youtube.<br/><br/>
				Enjoy the site.
				</p>
			</div>
		</div>
	</div>
</div>