<div class="container">
	<div class="row">
		<div class="span7">
			<div class="col">
				<h2>Top 10 Coolest Video Links from Twitter!</h2>
				<br/>
				<br/>
				<p>Hello Awesome</p>

				<p> The current count is <%= awesomeCount %>!
				<br/>
				<br/>
				<a href="http://localhost:3000">RETURN HOME!</a> 
				</p>
			</div>
		</div>
		<div class="span7 offset2">
			<div class="col2">
				<h2>Top 10 Awesome Video Links from Twitter!</h2>
				<br/>
				<br/>
				<p>
				Follow the link right below to visit our most coolest videos from Twitter!
				<br/>
				<br/>
				<a href="http://localhost:3000/word/cool">TWITTER'S COOLEST VIDEOS!</a>
				</p>
			</div>
		</div>
	</div>
</div>