<!DOCTYPE html>
<html>
	<head>		
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="mystyle.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="ultiLogo.jpg" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>	
		<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span6">
					<img src="images/twitterVideo2.png" alt="Logo" width="400" height=400" />
				</div>
				<div class="span5 offset5">
					<h1>NAV BAR GOES HERE!</h1>
				</div>
			</div>
		</div>		
		
		<div class="container">
			<div class="row">
				<div class="span16">
					<hr/>
					<br/>
					<br/>
				</div>
			</div>
		</div>

		<%- body %>
	</body>
</html>