<!DOCTYPE html>
<html>
	<head>		
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="mystyle.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="ultiLogo.jpg" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>	
		<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span6">
					<img src="images/twitterVideo2.png" alt="Logo" width="400" height=400" />
				</div>
				<div class="span5 offset5">
					<h1>NAV BAR GOES HERE!</h1>
				</div>
			</div>
		</div>		
		
		<div class="container">
			<div class="row">
				<div class="span16">
					<hr/>
					<br/>
					<br/>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="col">
						<h2>Top 10 Awesome Video Links from Twitter!</h2>
						<br/>
						<br/>
						<p>
							Follow the link right below to visit our most awesome videos from Twitter!
							<br/>
							<br/>
							<a href="http://localhost:3000/words/awesome">TWITTER'S AWESOME VIDEOS!</a>
							<br/>
							<br/>
							<%- body %>
						</p>
					</div>
				</div>
				<div class="span7 offset2">
					<div class="col2">
						<h2>Top 10 Coolest Video Links from Twitter!...Maybe</h2>
						<br/>
						<br/>
						<p>
							Follow the link right below to visit our most coolest videos from Twitter!
							<br/>
							<br/>
							<a href="http://localhost:3000/words/cool">TWITTER'S COOLEST VIDEOS!</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>