<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>	
		<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
	</head>
	<body>
		<h1>HEllO</h1>
		<%- body %>
		<div class="container">
			<div class="row h1">
					<h1>Logo will go here!</h1>
			</div>
		</div>
		
		<div class="container">
			<div class="row h1_2">
					<h1>Title will go here!</h1>
			</div>
		</div>		
		<br/>
		<br/>
		<div class="container">
			<div class="row column">
				<h2>Top 10 Awesome Video Links from Twitter!</h2>
				<br/>
				<br/>
				<p>
					Links will go here for the most awesome links, probably in a table.
				</p>
			</div>
		</div>
		
		<div class="container">
			<div class="row column2">
				<h2>Top 10 Cool Video Links from Twitter!...Maybe</h2>
				<br/>
				<br/>
				<p>
					Links will go here for hte coolest links, probably in a table.
				</p>
			</div>
		</div>
	</body>
</html>